
.app-page {

  .btn-block {
    
    margin-top: 20px;
    text-align: center;

    button {
      margin-right: 10px;
    }
  }

  .result-list {

    li {
      list-style: none;
    }

    .title {
      span {
        font-size: 18px;
        font-weight: 600;
      }
    }

    .my-icon {
      font-size: 20px;
    }

    .my-icon.success {
      color: #52c41a
    }

    .my-icon.error {
      color: #f5222d
    }
  }
}